.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d10000;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 14px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #a70000;
}
